# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
df = "..//Output_Data//city.csv"
cities = pd.read_csv(df)
cities.head()

,City ID,City,Clouds,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Atuona,39,PF,1659581876,81,-9.8000,-139.0333,77.27,17.78
1,1,Ekimchan,64,RU,1659582065,57,53.0667,132.9667,74.89,1.30
2,2,Callaway,48,US,1659582066,81,30.1530,-85.5699,81.00,4.99
3,3,Santa Lucía,20,ES,1659581975,83,27.9117,-15.5407,64.76,29.93
4,4,New Norfolk,4,AU,1659581890,71,-42.7826,147.0587,64.92,3.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

# set the parametersfor the layout
locations = cities[["Lat", "Lng"]]
weight = cities["Humidity"]
figure_layout = {
    'width': '300px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
#A max temperature lower than 80 degrees but higher than 70.
temp_file=cities.loc[(cities['Max Temp']>=70)&(cities['Max Temp']<=80)]

#Wind speed less than 10 mph.
wind_file=temp_file.loc[(temp_file['Wind Speed']<=10)]

#Zero cloudiness.
ideal_weather=wind_file.loc[(wind_file['Clouds']==0)]
ideal_weather

,City ID,City,Clouds,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
26,26,Coswig,0,DE,1659582072,60,51.1333,13.5833,77.67,9.22
74,74,Marshall,0,US,1659581935,82,34.3834,-86.3333,79.39,3.44
125,125,Portland,0,US,1659582032,58,45.5234,-122.6762,77.99,8.01
145,145,Huesca,0,ES,1659582100,65,42.1362,-0.4087,77.11,4.61
169,169,Langenhagen,0,DE,1659582106,88,52.4500,9.7500,70.41,0.00
171,171,Rome,0,US,1659582107,78,43.2128,-75.4557,76.87,5.75
333,333,Palmer,0,US,1659582125,77,42.1584,-72.3287,74.75,8.05
346,346,Bandundu Province,0,CD,1659582152,61,-3.3167,17.3667,76.24,3.18
353,353,Hailey,0,US,1659582154,27,43.5196,-114.3153,78.66,9.22
396,396,Hazorasp,0,UZ,1659582165,37,41.3194,61.0742,79.09,7.61
408,408,Jalu,0,LY,1659581982,46,29.0331,21.5482,78.17,7.49
433,433,Sirte,0,LY,1659581983,67,31.2089,16.5887,78.87,9.48
434,434,Siderno,0,IT,1659582174,57,38.2779,16.3020,76.33,6.02
482,482,Denizli Province,0,TR,1659582030,58,37.8402,29.0698,73.99,2.30
483,483,Aguilar de la Frontera,0,ES,1659582189,44,37.5143,-4.6554,72.00,1.92
507,507,Pemba,0,MZ,1659582196,80,-12.9740,40.5178,71.42,7.09
518,518,Lewistown,0,US,1659582199,100,40.5992,-77.5714,77.74,0.00
567,567,Fairbanks,0,US,1659581702,42,64.8378,-147.7164,74.08,9.22

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [12]:
# Add marker layer ontop of heat map



# Display figure